.pokemon-detail {
  h3 {
    text-align: center;
  }
}

.img-holder {
  text-align: center;

  img {
    height: 200px;
    width: auto;
  }
}

.badge {
  margin-left: 5px;
}

.pokedex-evolutions {
  text-align: center;
}
