.pokemon-detail {
  margin: 20px;
  padding-top: 30px;
  border: 1px solid lightgray;

  h3 {
    text-align: center;
  }
}

.img-holder {
  text-align: center;

  img {
    height: 200px;
    width: auto;
  }
}

.badge {
  margin-left: 5px;
}

.pokedex-evolutions {
  text-align: center;
}

.margin-left-30 {
  margin-left: 30px;
}

.moves {
  padding: 30px;
  padding-bottom: 10px;
}
