@import "~assets/styles/variables.scss";

.header {
  text-align: center;
  margin: 15px 0;

  h2 {
    color: #444;
  }
}

.form {
  margin: auto;
  margin-top: 30px;
  max-width: 500px;
  border: 1px solid lightgrey;
  padding: 13px;
  border-radius: 5px;
}

input {
  margin: 15px 0;
}

.alert.alert-warning {
  span {
    display: block;
  }
}

.form-actions {
  button.btn {
    background-color: $primary;
    color: $white;
  }
}

.not-registered {
  text-align: center;
  margin-top: 20px;

  a {
    color: $primary;
  }

  * {
    display: inline;
  }
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
