<article>
  <div class="container-fluid">

    <div class="header">
      <h2>¡Entrenador! Bienvenido a tu perfil</h2>
    </div>

    <div class="align-center">
      <img src="assets/images/profile.svg" height="150px">
    </div>

    <div class="form">
      <h5 class="align-center">Mantén tus datos al día</h5>
      <form [formGroup]="profileForm">
        <div class="form-fields">
          <input id="names"
                 class="form-control"
                 formControlName="names"
                 placeholder="Nombres"
                 autocomplete="username"
                 type="text"
                 minlength="6"
                 required>
          <div *ngIf="names.invalid && (names.dirty || names.touched)"
               class="alert alert-warning">
            <div *ngIf="names.errors.required">
              No seas tímido ¿cual es tu nombre?
            </div>
            <span *ngIf="names.errors.minlength">
              vamos, ¿Cual es tu nombre completo?
            </span>
          </div>

          <input id="email"
                 class="form-control"
                 formControlName="email"
                 placeholder="Correo electrónico"
                 autocomplete="username"
                 type="email"
                 minlength="5"
                 required>
          <div *ngIf="email.invalid && (email.dirty || email.touched)"
               class="alert alert-warning">
            <span *ngIf="email.errors.required">
              Necesitamos tu correo!
            </span>
            <span *ngIf="email.errors.email">
              Debes ingresar un correo válido.
            </span>
            <span *ngIf="email.errors.minlength">
              El correo debe tener mínimo 5 caracteres.
            </span>
          </div>
        </div>
        <div class="form-actions">
          <button class="btn btn-outline-secondary cancel-button" (click)="cancel()">Volver</button>
          <button class="btn app-btn-primary" (click)="submitRegister()" [disabled]="!profileForm.valid">Actualizar</button>
        </div>
      </form>
    </div>
  </div>
</article>
