<div class="wrapper">
  <div class="header">
    <nav class="navbar navbar-light bg-light">
      <a [routerLink]="['/pokedex']"
         class="align-left color-primary">Pokedex <i class="fa fa-paw"></i></a>
      <div class="align-right actions">
        <button class="btn app-btn-outline-primary profile" [routerLink]="['/profile']">Mi perfil <i class="fa fa-user"></i></button>
        <button class="btn app-btn-outline-black"
                (click)="signOut()">Salir <i class="fa fa-sign-out"></i></button>
      </div>
    </nav>
  </div>

  <article class="main-content">
    <router-outlet></router-outlet>
  </article>

  <footer class="page-footer">
    <div class="footer-wrapper">
      <div class="content text-center">
        <a href="https://www.linkedin.com/in/datola/"
           target="_blank">Daniel Torres L.  <i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </footer>
</div>
