<div class="wrapper">
  <div class="header">
    <nav class="navbar navbar-light bg-light">
      <a [routerLink]="['/pokedex']"
         class="align-left">Pokedex</a>
      <div class="align-right">
        <button class="btn btn-outline-info" [routerLink]="['/profile']">Mi perfil</button>
        <button class="btn btn-outline-success"
                (click)="signOut()">Salir <i class="fa fa-sign-out"></i></button>
      </div>
    </nav>
  </div>

  <article class="main-content">
    <router-outlet></router-outlet>
  </article>

  <footer class="page-footer">
    <div class="footer-wrapper">
      <div class="content text-center">
        <a href="https://www.linkedin.com/in/datola/"
           target="_blank">Daniel Torres L.</a>
      </div>
    </div>
  </footer>
</div>
