/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "assets/styles/variables.scss";

.align-center {
  text-align: center;
}

.form-control {
  border: 0;
  border-bottom: 1px solid grey;
  border-radius: 0;
}

.app-btn-primary {
  background-color: $primary;
  color: $white;
}

.app-btn-primary {
  background-color: $primary;
  color: $white;
}

.app-btn-outline-primary {
  background-color: $white;
  color: $primary;
  border-color: $primary;

  &:hover {
    background-color: $primary;
    color: $white;
    border-color: $white;
  }
}


.app-btn-outline-black {
  background-color: $white;
  color: $black;
  border-color: $black;
}
