/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "assets/styles/variables.scss";

.align-center {
  text-align: center;
}

.form-control {
  border: 0;
  border-bottom: 1px solid grey;
  border-radius: 0;
}

.app-btn-primary {
  background-color: $primary;
  color: $white;
}

.app-btn-primary {
  background-color: $primary;
  color: $white;
}

.app-btn-outline-primary {
  background-color: $white;
  color: $primary;
  border-color: $primary;

  &:hover {
    background-color: $primary;
    color: $white;
    border-color: $white;
  }
}


.app-btn-outline-black {
  background-color: $white;
  color: $black;
  border-color: $black;
}


.custom-row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="custom-col-"] {
  float: left;
  padding: 5px;
}


/* For mobile phones: */
[class*="custom-col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .custom-col-s-1 {width: 8.33%;}
  .custom-col-s-2 {width: 16.66%;}
  .custom-col-s-3 {width: 25%;}
  .custom-col-s-4 {width: 33.33%;}
  .custom-col-s-5 {width: 41.66%;}
  .custom-col-s-6 {width: 50%;}
  .custom-col-s-7 {width: 58.33%;}
  .custom-col-s-8 {width: 66.66%;}
  .custom-col-s-9 {width: 75%;}
  .custom-col-s-10 {width: 83.33%;}
  .custom-col-s-11 {width: 91.66%;}
  .custom-col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .custom-col-1 {width: 8.33%;}
  .custom-col-2 {width: 16.66%;}
  .custom-col-3 {width: 25%;}
  .custom-col-4 {width: 33.33%;}
  .custom-col-5 {width: 41.66%;}
  .custom-col-6 {width: 50%;}
  .custom-col-7 {width: 58.33%;}
  .custom-col-8 {width: 66.66%;}
  .custom-col-9 {width: 75%;}
  .custom-col-10 {width: 83.33%;}
  .custom-col-11 {width: 91.66%;}
  .custom-col-12 {width: 100%;}
}